@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.snow.css';

/* quill.core.css overrides */

.ql-container {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight);
}

.ql-editor {
  border: none;
}

/* Toolbar color fixes */

.dark .ql-toolbar {
  background-color: rgb(var(--color-surface-700));
}

.ql-toolbar {
  background-color: rgb(var(--color-surface-200));
}

.ql-toolbar.ql-snow .ql-picker-label {
  border: none;
}

.ql-toolbar.ql-snow .ql-picker-label::before {
  border: none;
  line-height: 200%;
}

.dark .ql-toolbar.ql-snow .ql-picker-options {
  border: none;
  background-color: rgb(var(--color-surface-700));
}

.ql-toolbar.ql-snow .ql-picker-options {
  border: none;
  background-color: rgb(var(--color-surface-200));
}

.ql-container.ql-snow {
  border: none;
}

.ql-toolbar.ql-snow {
  border: none;
}

.ql-toolbar button {
  margin-bottom: 0;
}

/* Checkboxes */

.ql-editor ul[data-checked=true] > li::before {
  font: normal normal normal var(--base-font-size) "Font Awesome 5 Free" !important;
  content: '\f058' !important;
  color: #5e72e4 !important;
}

.ql-editor ul[data-checked=false] > li::before {
  font: normal normal normal var(--base-font-size) "Font Awesome 5 Free" !important;
  content: '\f111' !important;
  color: #5e72e4 !important;
}

.ql-editor ul[data-checked=true] > li {
  text-decoration: line-through !important;
}

/* Lists */

.ql-editor ol,
.ql-editor ul {
  padding-left: .5em;
}

.dark .ql-snow .ql-stroke {
  stroke: rgb(var(--theme-font-color-dark));
}

.ql-snow .ql-stroke {
  stroke: rgb(var(--theme-font-color-base));
}

.dark .ql-snow .ql-fill {
  fill: rgb(var(--theme-font-color-dark));
}

.ql-snow .ql-fill {
  fill: rgb(var(--theme-font-color-base));
}

.dark .ql-snow .ql-picker {
  color: rgb(var(--theme-font-color-dark));
}

.ql-snow .ql-picker {
  color: rgb(var(--theme-font-color-base));
}
